/* 
    Document   : default
    Created on : Jan 27, 2013, 6:39:49 PM
    Author     : rh
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

table   {
    border-style: solid;
    border-collapse: collapse;
}

td,th  {
    border-style: solid;
}

.layout {
    width: 100%;
    border-style: none;
}

.right {
    text-align: right;
}

.form_error {
    width: 560px; 
    background-color: lightpink;
}

form label { 
    display: block;  /* block float the labels to left column, set a width */
    float: left; 
    width: 150px; 
    padding: 0; 
    margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
    text-align: right; 
}

form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
    font:100% verdana,arial,sans-serif;
    margin: 0;
    padding: 0;

}

form fieldset {
    /* clear: both; note that this clear causes inputs to break to left in ie5.x mac, commented out */
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    padding: 10px;        /* padding in fieldset support spotty in IE */
    margin: 0;
}

form fieldset legend {
    font-size:1.1em; /* bump up legend font size, not too large or it'll overwrite border on left */
    /* be careful with padding, it'll shift the nice offset on top of border  */
}

form br {
    /* floats don't clear on all browsers, so use br */
    clear:left;
}

.news {
    border:2px solid;
    padding:4px;
    font:100% verdana,arial,sans-serif;
<<<<<<< HEAD
    background: #F5FFFA;
    margin-left: 10px;
    margin-right: 10px;
}

 .fieldset-auto-width {
         display: inline-block;
    }
    
    .target {
        background:#c0deed;
    }
    
    body {
        background:#c0deed;
        font:100% verdana,arial,sans-serif;
    }
    
    label {
        padding-bottom: 6px;
        
    }
    
    .profilelogin {
        font-size: 1.4em;
        font-weight: bold;
        letter-spacing: none;
        padding-right: 10px;
    }
    
    .breadcrumb {
      padding-top: 6px; 
    }
    
    .title {
        text-align: center;
        padding-top: 6px;
    }
    
    #sectiontitle {
        padding-left: 20px;
        padding-top: 20px;
    }
    
    .jcontrolsleft2 {
       font-weight: 500;
font-size: 13px;
float: left;
border-width: 0px;
overflow: hidden;
height: 35px;
width: 100%; 
    }
=======
    background: #F5FFFA

}

.fieldset-auto-width {
    display: inline-block;
}

.target {
    background:#c0deed;
}

body {
    background:#c0deed;
    font:100% verdana,arial,sans-serif;
}

label {
    padding-bottom: 6px;

}

.profilelogin {
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: none;
    padding-right: 10px;
}

.breadcrumb {
    padding-top: 6px; 
}

.title {
    text-align: center;
    padding-top: 6px;
}



tr.odd { 
    background-color: #F6F9ED; 
}

tr.even { 
    background-color: #FDFDF0; 
}
>>>>>>> CPDimpact-patch
